* body {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* CARD CONTAINER */
#card__container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0 5px 5px rgba(55, 55, 55, 0.5);
  transition: box-shadow, background-color .2s linear;
  min-width: 225px;
  /* max-width: 21px; */
  /* max-height: 300px; */
  /* overflow-y: scroll; */
}

.card:hover {
  box-shadow: none;
  background-color: #e9ecef;
}

.card-title {
  display: inline-block;
}

.card-title--completed {
  text-decoration: line-through;
  color: #888888;
}

@media only screen and (max-width: 700px) {
  #card__container {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    display: block;
    margin-left: 0;
    width: 18rem;
    /* z-index: 75; */
  }
}

/* ADD TASK CARD */
.fa-plus-circle {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 4rem;
  color: #17a2b8;
  cursor: pointer;
  transition: all .2s linear;
}

.fa-plus-circle:hover {
  color: #555555;
  transform: scale(1.1);
}

.fa-square,
.fa-check-square {
  font-size: 1.25rem;
}

.card-body--add {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.task__add-text {
  color: #888888;
}

.form-control {
  margin-bottom: 8px;
}

.btn {
  margin-bottom: 5px;
}

/* MODAL */
.modalAdd {
  position: fixed;
  z-index: 55;
  background-color: rgba(55, 55, 55, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;
}

.modalAdd--is-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}